@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    /*General CSS*/
    .success {
        background-color: #29b12c !important;
    }
    .warning {
        background-color: #ece531 !important;
    }
    .danger {
        background-color: #e66868 !important;
    }
    .successText {
        color: #29b12c;
    }
    .warningText {
        color: #ece531;
    }
    .dangerText {
        color: #e66868;
    }
    .title h1{
        font-size:50px;
    }
    hr {
        border-top: 1px solid #004b04;
    }
    .navbar-brand img {
        height: 100%;
    }
    /*General CSS*/

    /*Header CSS */
    .side-button {
        float: right;
        margin-top: 10px;
        margin-right: 20px;
        background-color: transparent;
        color: white;
        border: 0px;
    }
    /*Header CSS */

    /*Content CSS*/
    .back {
        font-size: 60px;
        color:rgb(4, 144, 65); ;
        float: left;
        z-index: 1;
    }
    /*Login VIEW*/

    /*Login VIEW*/
    /*Default VIEW */
        /*buttons*/
            .btn-big {
                font-size: 20px; /* Change the font size of the text inside buttons */
                margin: 10px;
                width: 100%;
            }
            .big-fa {
                font-size: 14em; /* Change the font size of the icons inside buttons */
            }
            .sm-fa {
                font-size: 8em; /* Change the font size of the icons inside buttons */	
            }
            .big-submit {
                font-size: 40px;
            }
            .btn-green {
                background-color: rgb(4, 144, 65); /* Green color */
                border-color: black;
                color: white;
            }
            .btn-red {
                background-color: red; /* Red color */
                border-color: black;
                color: white;
            }
            .btn-black:hover {
                background-color: black;
            }
        /*buttons*/
    /*Default VIEW */

    /*VISITANTES VIEW */
        #visitante label{
            font-size: 50px;
        }
        #visitante .orden label{
            font-size: 20px;
        }
        #visitante .form-group-lg .form-control {
            height: 80px;
            font-size: 25px;
        }
        #visitante #submit {
            height: 60px;
            font-size: 25px;
        }
        #visitante .title{
            float: none;
        }
        #visitante h1{
            margin-top: 0px;
        }
    /*VISITANTES VIEW */
    /*Footer CSS */
        footer {
            padding-top: 80px;
        }
    /*Footer CSS */
    /*Content CSS*/
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
    /*General CSS*/
    .success {
        background-color: #29b12c !important;
    }
    .warning {
        background-color: #ece531 !important;
    }
    .danger {
        background-color: #e66868 !important;
    }
    .successText {
        color: #29b12c;
    }
    .warningText {
        color: #ece531;
    }
    .dangerText {
        color: #e66868;
    }
    .title h1{
        font-size:50px;
    }
    hr {
        border-top: 1px solid #004b04;
    }
    /*General CSS*/

    /*Header CSS */
    .side-button {
        float: right;
        margin-top: 10px;
        margin-right: 20px;
        background-color: transparent;
        color: white;
        border: 0px;
    }
    .navbar-brand img {
        height: 250%;
        padding-bottom:5px;
    }
    /*Header CSS */

    /*Content CSS*/
    .back {
        font-size: 60px;
        color:rgb(4, 144, 65); ;
        float: left;
        z-index: 1;
    }
    /*Login VIEW*/

    /*Login VIEW*/
    /*Default VIEW */
        /*buttons*/
            .btn-big {
                font-size: 20px; /* Change the font size of the text inside buttons */
                margin: 10px;
                width: 100%;
            }
            .big-fa {
                font-size: 14em; /* Change the font size of the icons inside buttons */
            }
            .sm-fa {
                font-size: 8em; /* Change the font size of the icons inside buttons */	
            }
            .big-submit {
                font-size: 40px;
            }
            .btn-green {
                background-color: rgb(4, 144, 65); /* Green color */
                border-color: black;
                color: white;
            }
            .btn-red {
                background-color: red; /* Red color */
                border-color: black;
                color: white;
            }
            .btn-black:hover {
                background-color: black;
            }
        /*buttons*/
    /*Default VIEW */

    /*VISITANTES VIEW */
        #visitante label{
            font-size: 50px;
        }
        #visitante .orden label{
            font-size: 20px;
        }
        #visitante .form-group-lg .form-control {
            height: 80px;
            font-size: 25px;
        }
        #visitante #submit {
            height: 60px;
            font-size: 25px;
        }
        #visitante .title{
            float: none;
        }
        #visitante h1{
            margin-top: 0px;
        }
 
    /*VISITANTES VIEW */
    /*Footer CSS */
        footer {
            padding-top: 80px;
        }
    /*Footer CSS */
    /*Content CSS*/
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }